#################################################################### 
# The API key of the user deploying the solution
# It must have a lot of permissions -- account owner is the easiest
#####################################################################

ibmcloud_api_key = ""
vpc_name = "iks-journey-vpc"
resource_group = "asset-development"