#################################################################### 
# The API key of the user deploying the solution
# It must have a lot of permissions -- account owner is the easiest
#####################################################################

TF_VAR_ibmcloud_api_key = ""
